{
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
    "babel",
    "promise",
    "flowtype"
  ],
  "rules": {
    "key-spacing"          : "off",
    "brace-style"          : [2, "stroustrup", {"allowSingleLine": true}],
    "semi"                 : [2, "always"],
    "quotes"               : "off",
    "no-return-await"      : 2,
    "jsx-quotes"           : [2, "prefer-double"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],
    "comma-dangle"         : "off"
  }
}
